main {
    border: 1px solid black;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe img {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-movement 2s infinite linear;
}

@keyframes pipe-movement {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}
